.display-area {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
}
.short-link {
  margin-bottom: 12px;
  padding: 0 10px 0 10px;
  background-color: #b69ee2 !important;
  color: #fff !important;
  font-size: 25px;
  margin-left: 410px !important;
}
.copy-button {
  background-color: #ff4e9c !important;
  color: #fff !important;
  margin-right: 50px !important;
}

@media screen and (max-width: 1222px) {
  .short-link {
    margin-left: 220px !important;
    margin-right: 100px !important;
  }
}

@media screen and (max-width: 599px) {
  .display-area {
    flex-wrap: wrap !important;
    justify-content: center !important;
    padding-bottom: 12px;
    padding-left: 45px;
  }
  .short-link {
    margin-left: 50px !important;
  }
}
