.link-bar-style {
  position: relative;
  border-radius: 20px;
  background-color: rgb(13, 20, 135, 255);
  opacity: 0.2;
  margin: auto;
}

.link-bar-style:hover {
  opacity: 0.4;
}

.link-icon-wrapper {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-input-style {
  color: inherit !important;
  padding-left: 1em;
  width: 80ch;
}

.shortener-button {
  margin: 13px;
}

@media screen and (max-width: 1222px) {
  .link-bar-style {
    width: 60%;
    margin: auto;
  }
  .css-1urasrk-MuiTypography-root {
    margin-left: 0;
  }
}

@media screen and (max-width: 540px) {
  .link-bar-style {
    width: 100%;
    margin: 10px;
  }
  .css-1t29gy6-MuiToolbar-root {
    justify-content: center;
  }
}
