.main-bar-style {
  padding: 10px 24px 0 24px;
  background-color: #e9d1ff;
  border-radius: 20px;
  margin: auto;
}

@media screen and (max-width: 1222px) {
  .main-bar-style {
    width: 60%;
  }
}

@media screen and (max-width: 540px) {
  .toolbar {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main-bar-style {
    width: 40%;
  }
}

@media screen and (max-width: 415px) {
  .main-bar-style {
    width: 35%;
  }
}

@media screen and (max-width: 375px) {
  .main-bar-style {
    width: 32%;
  }
  


  /* this is first branch  */
}
